{% extends "/base.html.twig" %}

{% block title %}
    Dodaj pracownika
{% endblock title %}

{% block sidebar %}
{% endblock sidebar %}

{% block main %}
    {% set errors =  get("errors") %}
    <h1 class="text-center">Dodaj pracownika</h1>
    <form class="row" action="/add-worker" method="POST">
        <div class="col">
            <div class="container d-flex flex-column justify-content-center align-items-center gap-3 w-50">
                <div class="form-floating w-100">
                    <input
                            id="firstname"
                            type="text"
                            name="firstname"
                            class="form-control form-control-lg {{ errors.firstname ? 'is-invalid' : '' }}">
                    <label for="firstname">Imie</label>
                    <span class="invalid-feedback">{{ errors.firstname | first }}</span>
                </div>
                <div class="form-floating w-100">
                    <input
                            id="lastname"
                            type="text"
                            name="lastname"
                            class="form-control form-control-lg {{ errors.lastname ? 'is-invalid' : '' }}">
                    <label for="lastname">Nazwisko</label>
                    <span class="invalid-feedback">{{ errors.lastname | first }}</span>
                </div>
                <div class="form-floating w-100">
                    <input
                            id="email"
                            type="text"
                            name="email"
                            class="form-control form-control-lg {{ errors.email ? 'is-invalid' : '' }}">
                    <label for="lastnemailame">Email</label>
                    <span class="invalid-feedback">{{ errors.email | first }}</span>
                </div>
                <div class="form-floating w-100">
                    <input
                            id="phone"
                            type="text"
                            name="phone"
                            class="form-control form-control-lg {{ errors.phone ? 'is-invalid' : '' }}">
                    <label for="phone">Numer telefonu</label>
                    <span class="invalid-feedback">{{ errors.phone | first }}</span>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container d-flex flex-column justify-content-center align-items-center gap-3 w-50">
                <div class="form-floating w-100">
                    <select id="role" type="text" name="role" class="form-select form-control-lg">
                        <option value="Worker">Pracownik</option>
                        <option value="Manager">Menadżer</option>
                    </select>
                    <label for="role">Rola</label>
                </div>
                <div class="form-floating w-100">
                    <input
                            id="login"
                            type="text"
                            name="login"
                            class="form-control form-control-lg {{ errors.login ? 'is-invalid' : '' }}">
                    <label for="login">Login</label>
                    <span class="invalid-feedback">{{ errors.login | first }}</span>
                </div>
                <div class="form-floating w-100">
                    <input
                            id="password"
                            type="password"
                            name="password"
                            class="form-control form-control-lg {{ errors.password ? 'is-invalid' : '' }}">
                    <label for="password">Hasło</label>
                    <span class="invalid-feedback">{{ errors.password | first }}</span>
                </div>
                <button class="btn btn-outline-success w-100">Dodaj pracownika</button>
            </div>
        </div>
    </form>
{% endblock main %}
